<div class="app-header">
  <div class="box-left">
    <ul class="menu">
      <li>
        <%= link_to "", "/", class: "logo"  %>
      </li>
      <li>
        <span>Funny Movies</span>
      </li>
    </ul>
  </div>
  <div class="box-right">
    <% if current_user.present? %>
      <ul class="menu">
        <li>
          <span><small>Welcome <%= current_user.email %></small></span>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
        <li class="upload">
          <a href="#">Share a movie</a>
        </li>
      </ul>
    <% else %>
      <ul class="menu" >
        <li>Login/Register</li>
      </ul>
    <% end %>
  </div>
</div>
